/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/


body {
  background-color: #115ff4;
}

/* h1{
  color: white;
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
} */

table, td, th {
  border: 1px solid white;
  border-collapse: collapse;
  color: white;
  text-align: center;
  background-color:  #060ce9;
  font-size: 20px;
}
header > h1 {
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 40px;
}
header {
  color: white;
  text-align: center;
}

#main-table{
  text-align: center;
  font-size: 9pt;
  background-color: #060ce9;
  color: white;
  border-collapse: collapse;
  margin: 0 auto;
}
#main-table th, #main-table td {
  border: solid 1px white;
  width: 10em;
  padding: 0.5em;
}

th {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  height: 4em;
  text-shadow: darkgoldenrod 1px 1px;
}
td {
  height: 7em;
  font-family: Copse, serif;
}

button, td {
  cursor: pointer;
}
#start-game {
  background-color: #8d2ab5;
  padding: 1em 2em;
  border: none;
  border-radius: 0.5em;
  color: white;
  font-size: 1em;
  margin: 0.5em 0;
  text-align: center;
}


td{
  height: 100px;
  width: 160px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
}

th{
  height: 120px;
  width: 160px;
  text-transform: uppercase;
}



#spinner {
  color: white;
  text-align: center;
  font-size: 80px;
  display: none;
}
